[Unit]
Description=RGT Desk Backend
After=network.target

[Service]
Type=simple
User=mfi
Group=mfi
LimitRTPRIO=99
WorkingDirectory=/home/mfi/repos/rgt_desk/rgt_desk_backend
Environment=PYTHONUNBUFFERED=1
Environment=ROS_DOMAIN_ID=19
Environment="PATH=/home/mfi/repos/rgt_desk/rgt_desk_backend/.venv/bin:/usr/bin:/usr/local/bin:/bin"
ExecStart=/bin/bash -c "source /opt/ros/jazzy/setup.bash && source /home/mfi/repos/ros2_ws/install/setup.bash && exec /home/mfi/repos/rgt_desk/rgt_desk_backend/.venv/bin/uvicorn main:app --host 192.168.19.10 --port 8000"
Restart=always

[Install]
WantedBy=multi-user.target

ExecStart=/bin/bash -c "source /opt/ros/jazzy/setup.bash && source /home/mfi/repos/ros2_ws/install/setup.bash && python3 your_backend_script.py"
